// colors
$black-color: #0d1a2b;
$dark-blue-color: #13529b;
$blue-color: #2d67f7;
$blue-light-color: #bcced6;
$white-color: #ffffff;
$gray-color: #273245;
$gray-light-color: #8b98a9;

html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  font-family: Arial;
  // box-sizing: border-box;
}
body {
  font-size: 1.6rem;
}

.section-container {
  @include screen-lg {
    max-width: 95%;
  }
}

